body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    /* Cor de fundo suave */
}

button {
    background-color: #4CAF50;
    /* Verde claro */
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#resultado {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

/* styles.css */

/* ... (seu CSS anterior) */

@media (max-width: 768px) {
    button {
        font-size: 24px;
        padding: 20px 40px;
    }

    #resultado {
        font-size: 20px;
    }
}